body {
    font-family: sans-serif;
    margin-left: 1rem;
}

#scryfall-api-search-query {
    width: 90vw;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    position: sticky;
    top: 10px;
    background-color: #2b253a;
    color: white;
    font-family: monospace;
}

#random-gen-number {
    width: 64px;
}

.clickable {
    cursor: pointer;
}