:root {
    --scryfall-darker: #19181f;
    --scryfall-dark: #2b253a;
    --scryfall-lighter: #4f4255;

    --very-light-purple: #fbf4ff;
    --light-darker-purple: #f6e8ff;
    --dark-purple-text: #210030;
    --strong-purple: #8816bd;
    --normal-purple: #cd87ee;
    
    --purple-darker: #181520;
    --very-dark-purple-back: #0d0b11;
  }

body {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 1rem;
    background-color: var(--very-light-purple);
    color: var(--dark-purple-text);
}

#js-disabled-warning {
    display: inline-block;
    color: black;
    font-weight: bolder;
    margin-bottom: 1em;
    padding: .4rem 1.2rem;
    border-radius: 5px;
    background-color: #F0DB4F;
    font-size: large;
}

:link, :visited {
    color: var(--strong-purple);
}

button {
    background-color: var(--very-light-purple);
    border-color: var(--strong-purple);
    border-width: 2px;
    border-radius: 4px;
}

input {
    border-width: 1.3px;
    border-radius: 4px;
    border-color: var(--strong-purple);
}

#scryfall-api-search-query {
    width: 90%;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    position: sticky;
    top: 10px;
    background-color: var(--scryfall-dark);
    color: white;
    font-family: monospace;
}

#counter {
    font-family: monospace;
}

.clickable {
    cursor: pointer;
}

button {
    cursor: pointer;
}

#simple-card-output {
    background-color: var(--light-darker-purple);
    font-size: 14px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.hidden {
    display: none;
}

table {
    margin-bottom: 2rem;
}
table, th, td {
    border:1px solid black;
    border-collapse: collapse;
    padding: 1rem;
}
table .table-center {
    text-align: center;
}
table img {
    width: 146px;
}

@media only screen and (max-width: 655px) {
    table, img {
        font-size: 80%;
        image-rendering: -moz-crisp-edges;
        max-width: 96%;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--very-dark-purple-back);
        color: var(--very-light-purple);
    }
    table, th, td {
        border-color: var(--very-light-purple);
    }
    :link, :visited {
        color: var(--normal-purple);
    }
    #simple-card-output {
        background-color: var(--purple-darker);
    }
    #scryfall-api-search-query {
        border-color: var(--normal-purple);
    }
    button {
        background-color: var(--very-dark-purple-back);
        color: white;
        border-color: var(--normal-purple);
    }
    input {
        background-color: var(--very-dark-purple-back);
        color: white;
        border-color: var(--normal-purple);
        border-top: 0;
        border-left: 0;
        border-right: 0;

    }
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: var(--very-dark-purple-back);
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #39324d;
        border-radius: 10px;
    }

    /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
        background: #241f31;
    }
}
