body {
    font-family: sans-serif;
    margin-left: 1rem;
}

#scryfall-api-search-query {
    width: 90vw;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    position: sticky;
    top: 10px;
    background-color: #2b253a;
    color: white;
    font-family: monospace;
}

#random-gen-number {
    width: 64px;
}

.helper {
    background-color: antiquewhite;
    margin-top: 2rem;
    padding: 1rem 0 1rem 1rem;
    border: solid 1px darksalmon;
    border-left: 0;
    border-right: 0;
}

.helper-links {
    padding-top: 1rem;
}

.clickable {
    cursor: pointer;
}